/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=League+Spartan:wght@300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=League+Spartan:wght@300;400;500;600;700&family=Tangerine:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=League+Spartan:wght@300;400;500;600;700&family=Megrim&family=Tangerine:wght@700&display=swap');

* {
    box-sizing: border-box;
}

/* html {
    max-height: 100%;
} */

body {
    background-color: gray;
    margin: 0;
    /* font-family: Josefin Sans, sans-serif; */
    font-family: League Spartan, sans-serif;
    display:flex;
    /* height: 100vh; */
    /* width: 80vw; */
}

/* ------------------------------------ INDEX PAGE START --------------------------------- */

nav {
    display: flex;
    flex-direction: column;
    /* width: 15em; */
    height: 100vh;
    /* background-color: rgb(5, 22, 46); */
    background-color: rgb(8, 1, 37);
    border-right: 1px solid rgb(133, 14, 212);
    align-items: center;
}

figure {
    height: 10em;
    width: 10em;
    border: 10px solid rgb(43, 47, 65);
    border-radius: 50%;
    background-image: url(/images/profile-pic.jpg) ;
    background-position: center;
    background-size: cover;
}

figcaption {
    color:white;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0.2rem;
    font-weight: 600;
}

aside {
    border-top: 1px solid white;
    height: auto;
    width: 80%;
    margin-top: 1.5em;
}

/* nav .menu-without-pic {
    height: 55vh;
    width: 80%;
    border-bottom: 1px solid white;
} */

 aside ul {
    list-style-type: none;
    padding-left: 0em;
    display:flex;
    flex-direction: column;
    align-items:start;
    height:auto;
}

aside a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

aside a i {
    color:white;
    font-size: 1.2rem;
    margin-top: 0.1em;
    padding-right: 0.8em;
    padding-bottom: 2em;
}

/* .menu-without-pic a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


.menu-without-pic a i {
    color:white;
    font-size: 1.5rem;
    margin-top: 2em;
    padding-right: 0.8em;
    padding-bottom: 1em;
} */

.nav-aboutme {
    padding-left: 0.07em;
}

.nav-skills {
    margin-left:-0.1em;
}

section a i {
    color:white;
    font-size: 1.8rem;
}


footer.social-links i{
    font-size: 1.8rem;
    padding-bottom: 0;
}


.active a, .active i{
    color: rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

.active a i {
    color: rgb(133, 14, 212);
}

a:hover {
    color:rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

main {
    background-image: url(/images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    width: 100%;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
}

h1 {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 1em;
    text-align: start;
}

p {
    margin-top: -1em;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.696);
    margin-bottom: 0.5em;
}

.learn-more {
    display: block;
    width: 15vw;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding: 0.8rem 1rem;
    border-color: rgb(133, 14, 212);
    text-decoration: none;
    color: white;
    font-size: 1em;
    box-shadow: inset 0 0 0 0 rgb(133, 14, 212);
    transition: ease-out .5s;
    outline:none;
}


.learn-more:hover {
    box-shadow: inset 15vw 0 0 0 rgb(46, 5, 73);
    color: rgb(255, 255, 255);
}


.social-links {
    width: 10%;
    bottom: 1em;
    display: flex;
    color: white;
    justify-content: space-evenly;
    position: absolute;
}

.main-content {
    display: inline-block;
    margin-top: 10em;
    margin-left: 6em;
    width:40%;
}

/*---------------------------------- INDEX PAGE END ----------------------------------------------- */


/*---------------------------------- ABOUT PAGE START ----------------------------------------------- */


.about-me-main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    align-items: center;
}

.about-h1-font{
    font-family: Megrim;
    font-size: 2rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color:white;
    text-align: center;
}
 
nav.nav-menu {
    height: auto;
    width: auto;
    border-bottom: 1px solid rgb(133, 14, 212);
    overflow: auto;
}

nav .nav-menu ul {
    list-style-type: none;
    padding-left: 0em;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.nav-menu ul{
    padding:0;
    display:flex;
    flex-direction: column;
    margin:0;
}

.nav-menu ul li {
    padding:0;
    margin: -1em;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


.nav-menu a i {
    color:white;
    font-size: 1.5rem;
    margin-top: 2em;
    padding-right: 0.8em;
    padding-bottom: 1em;
}


nav .active a, nav .active i{
    color: rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

nav .active a i {
    color: rgb(133, 14, 212);
}

nav a:hover {
    color:rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

.nav-menu footer i{
    justify-content: center;
    margin-bottom: 0;
    padding-bottom:0;
}

.about-me-pic {
    border-radius: 0;
    border-bottom: 1px solid white;
    height: 20vh;
    width: 100%;
    margin: 0;
    background-image: url(/images/profile-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.about-me-text {
    background-color: rgb(8, 11, 53);
    border: 1px solid rgb(255, 255, 255);
    width: auto;
    height: auto;
    margin: 2em;
}

.about-me-text h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.about-me-text p {
    font-size: 1rem;
    font-family: League Spartan, sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 0.1em;
    margin-bottom:0;
    width: 20em;
    padding: 1.5em 1em 0.2em 1em;
    color: rgb(255, 255, 255);
    line-height: 1.7em;
}


/* ---------------------- MEDIA QUERY MOBILE (INDEX) STARTS  --------------------------------- */
@media (max-width: 767px) {
    body {
        flex-direction: column;
    }

    nav {
        width: 100vw;
        height: auto;
        background-color: rgb(8, 1, 37);
        border-right: none;
        border-bottom: 1px solid rgb(133, 14, 212);
        align-items: center;
    }

    figure {
        height: 7em;
        width: 7em;
        border: 3px solid rgb(43, 47, 65);
    }

    figcaption {
        font-size: 2rem;
        margin-top: 0.2rem;
    }


    .social-links {
        position: relative;
        justify-content: center;
    }

    nav section i {
        font-size: 1.7rem;
        padding: 2em 0.5em 0em;
        
    }


    aside {
        height: 35vh;
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        justify-content: center;
    }

    aside ul {
        margin-bottom: 0;
    }


    aside a {
        font-size: 1.2rem;
    }

    aside a i {
        font-size: 1rem;
        margin-top: 0em;
        padding-right: 1em;
        padding-bottom: 1.9em;
    }

    main {
        background-position: end;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: start;
        width: 100%;
    }

    h1 {
        color: white;
        margin-top: 1em;
        width: 100%;
    }

    p {
        margin-top: -0.7em;
        font-size: 1.25em;
        width: 70%;
        color: rgb(255, 255, 255);
        margin-bottom: 0.7em;
    }

    .main-content {
        /* display: inline-block; */
        border: 3px solid rgb(0, 1, 19);
        background: linear-gradient(0.25turn, rgba(8, 1, 37, 0.993), rgba(10, 3, 43, 0.979), rgba(8, 1, 37, 0.836));
        margin-top: 2em;
        margin-left: 2em;
        width:80%;
        border-radius: 3px;
        border-right-style: none;
    }

    a.learn-more {
        width: 100%;
        padding: 0.7rem 0.5rem;
        font-size: 1rem;
        box-shadow: inset 0 0 0 0 rgb(133, 14, 212);
        transition: ease-in-out 1s;
        margin-top: 2em;
    }

    .learn-more:hover {
        box-shadow: inset 80vw 0 0 0 rgb(46, 5, 73);
    }
}
/* ------------------------------------ MEDIA QUERY MOBILE (INDEX) ENDS--------------------------------- */


/* -------------------------- MEDIA QUERY TABLET (INDEX) STARTS ----------------------- */

@media (min-width: 768px) and (max-width: 1024px){
    body {
        height: 100%;
    }
    nav {
        height: 100vh;
    }

    main {
        height: 100vh;
    }

    .main-content {
        border: 3px solid rgb(0, 1, 19);
        background: linear-gradient(0.25turn, rgba(8, 1, 37, 0.993), rgba(10, 3, 43, 0.979), rgba(8, 1, 37, 0.836));
        margin-top: 6em;
        margin-left: 3em;
        width:80%;
        border-radius: 3px;
        border-right-style: none;
        height: auto;
    }

    a.learn-more {
        width: 100%;
        margin-top: 3em;
    }

    .learn-more:hover {
        box-shadow: inset 60vw 0 0 0 rgb(46, 5, 73);
    }
}

/* -------------------------- MEDIA QUERY TABLET (INDEX) ENDS ----------------------- */


/* ------------------ MEDIA QUERY TABLET & DESKTOP (ABOUT ME) STARTS --------------------------- */
@media (min-width: 768px) {



    nav.nav-menu {
        border-bottom-style: none;
        width:auto;
        overflow:auto;
    }

    figure.about-me-pic {
        width: 100%;
    }

    .about-me-main {
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: white;
        /* align-items: start; */
    }
    
    .about-h1-font{
        font-family: Megrim;
        font-size: 2rem;
        padding-left: 0.2em;
        padding-right: 0.2em;
        color:white;
        text-align: center;
    }
     
    nav.nav-menu {
        height: auto;
        width: auto;
        border-bottom: none;
        overflow: auto;
    }
    
    nav .nav-menu ul {
        list-style-type: none;
        padding-left: 0em;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        
    }
    
    .nav-menu ul{
        padding:0;
        display:flex;
        flex-direction: column;
        margin:0;
    }
    
    .nav-menu ul li {
        padding:0;
        margin: -1em;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
    }
    
    
    .nav-menu a i {
        color:white;
        font-size: 1.5rem;
        margin-top: 2em;
        padding-right: 0.8em;
        padding-bottom: 1em;
    }
    
    
    nav .active a, nav .active i{
        color: rgb(133, 14, 212);
        transition: all .6s ease-in-out;
    }
    
    nav .active a i {
        color: rgb(133, 14, 212);
    }
    
    nav a:hover {
        color:rgb(133, 14, 212);
        transition: all .6s ease-in-out;
    }
    
    .nav-menu footer i{
        /* display: flex; */
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 0;
        padding-bottom:0;
    }
    
    .about-me-pic {
        border-radius: 0;
        border-bottom: 1px solid white;
        height: 20vh;
        width: 100%;
        margin: 0;
        background-image: url(/images/profile-pic.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    .about-me-text {
        background-color: rgb(8, 11, 53);
        border: 1px solid rgb(255, 255, 255);
        width: 70vw;
        height: auto;
        margin: 2em;
    }
    
    .about-me-text h1 {
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    .about-me-text p {
        font-size: 1.4rem;
        font-family: League Spartan, sans-serif;
        font-weight: 400;
        text-align: start;
        letter-spacing: 0.1em;
        margin-bottom:0;
        width: auto;
        /* padding: 1.5em 1em 0.2em 1em; */
        color: rgb(255, 255, 255);
        line-height: 1.7em;
    }








    
/* ------------------ MEDIA QUERY TABLET (ABOUT ME) ENDS --------------------------- */