@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=League+Spartan:wght@300;400;500;600;700&family=Megrim&family=Tangerine:wght@700&display=swap');

* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    background-color: rgb(8, 1, 37);
    margin: 0;
    font-family: League Spartan, sans-serif;
    display:flex;
    height: 100%;
}

/* ------------------------------------ INDEX PAGE START --------------------------------- */

nav {
    display: flex;
    flex-direction: column;
    /* position:fixed; */
    height: 100vh;
    background-color: rgb(8, 1, 37);
    border-right: 1px solid rgb(133, 14, 212);
    align-items: center;
}

.nav-menu ul li{
    list-style-type: none;
}

figure {
    height: 10em;
    width: 10em;
    border: 10px solid rgb(43, 47, 65);
    border-radius: 50%;
    background-image: url("./images/profile-pic.jpg");
    background-position: center;
    background-size: cover;
}

.figcaption {
    color:white;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0.2rem;
    font-weight: 600;
    margin-bottom: 0em;
}

aside {
    border-top: 1px solid white;
    height: auto;
    width: 80%;
    margin-top: 1.5em;
}


 aside ul {
    list-style-type: none;
    padding-left: 0em;
    display:flex;
    flex-direction: column;
    height:auto;
}


aside a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

aside a i {
    color:white;
    font-size: 1.2rem;
    margin-top: 0.1em;
    padding-right: 0.8em;
    padding-bottom: 2em;
}


.nav-resume a i{
    padding-right: 1em;
}

section a i {
    color:white;
    font-size: 1.8rem;
}


footer.social-links i{
    font-size: 1.8rem;
    padding-bottom: 0;
}


.active a, .active i{
    color: rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

.active a i {
    color: rgb(133, 14, 212);
}

a:hover {
    color:rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

main {
    background-image: url("./images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    width: 100%;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
}

h1 {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 1em;
    text-align: start;
}

p {
    margin-top: -1em;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.696);
    margin-bottom: 0.5em;
}

.learn-more {
    display: block;
    width: 15em;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding: 0.8rem 1rem;
    border-color: rgb(133, 14, 212);
    text-decoration: none;
    color: white;
    font-size: 1em;
    box-shadow: inset 0 0 0 0 rgb(133, 14, 212);
    transition: ease-out .5s;
    outline:none;
    white-space: normal;
}


.learn-more:hover {
    box-shadow: inset 25vw 0 0 0 rgb(46, 5, 73);
    color: rgb(255, 255, 255);
}


.social-links {
    width: 10%;
    bottom: 1em;
    display: flex;
    color: white;
    justify-content: space-evenly;
    position: absolute;
}

.main-content {
    display: inline-block;
    margin-top: 10em;
    margin-left: 6em;
    width:40%;
}

@media screen and (max-width: 767px) {
    body {
        flex-direction: column;
    }

    nav {
        width: 100vw;
        height: auto;
        background-color: rgb(8, 1, 37);
        border-right: none;
        border-bottom: 1px solid rgb(133, 14, 212);
        align-items: center;
    }

    figure {
        height: 7em;
        width: 7em;
        border: 3px solid rgb(43, 47, 65);
    }

    figcaption {
        font-size: 2rem;
        margin-top: 0.2rem;
    }

    .nav-resume a i{
        padding-right: 1.2em;
    }

    .social-links {
        position: relative;
        justify-content: center;
    }

    nav section i {
        font-size: 1.7rem;
        padding: 2em 0.5em 0em;

    }

    aside {
        height: 35vh;
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        justify-content: center;
    }

    aside ul {
        margin-bottom: 0;
    }

    aside a {
        font-size: 1.2rem;
    }

    aside a i {
        font-size: 1rem;
        margin-top: 0em;
        padding-right: 1em;
        padding-bottom: 1.9em;
    }

    main {
        background-position: end;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: start;
        width: 100%;
    }

    h1 {
        color: white;
        margin-top: 1em;
        width: 100%;
    }

    p {
        margin-top: -0.7em;
        font-size: 1.25em;
        width: 70%;
        color: rgb(255, 255, 255);
        margin-bottom: 0.7em;
    }

    .main-content {
        border: 3px solid rgb(0, 1, 19);
        background: linear-gradient(0.25turn, rgba(8, 1, 37, 0.993), rgba(10, 3, 43, 0.979), rgba(8, 1, 37, 0.836));
        margin-top: 2em;
        margin-left: 2em;
        width:80%;
        border-radius: 3px;
        border-right-style: none;
    }

    a.learn-more {
        width: 100%;
        padding: 0.7rem 0.5rem;
        font-size: 1rem;
        box-shadow: inset 0 0 0 0 rgb(133, 14, 212);
        transition: ease-in-out 1s;
        margin-top: 2em;
    }

    .learn-more:hover {
        box-shadow: inset 80vw 0 0 0 rgb(46, 5, 73);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    body {
        height: 100%;
    }
    nav {
        height: 100vh;
    }

    main {
        height: 100vh;
    }

    .main-content {
        border: 3px solid rgb(0, 1, 19);
        background: linear-gradient(0.25turn, rgba(8, 1, 37, 0.993), rgba(10, 3, 43, 0.979), rgba(8, 1, 37, 0.836));
        margin-top: 6em;
        margin-left: 3em;
        width:80%;
        border-radius: 3px;
        border-right-style: none;
        height: auto;
    }

    a.learn-more {
        width: 100%;
        margin-top: 3em;
    }

    .learn-more:hover {
        box-shadow: inset 60vw 0 0 0 rgb(46, 5, 73);
    }
}
/*---------------------------------- INDEX PAGE END --------------------------------------------------- */


/*---------------------------------- ABOUT ME PAGE START ----------------------------------------------- */
.about-me-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.about-me-content {
    width: 80%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}

.about-h1-logo{
    font-family: Megrim;
    font-size: 2rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color:white;
    text-align: center;
}

nav.nav-menu {
    height: 100%;
    width: auto;
    border-bottom: 1px solid rgb(133, 14, 212);
}

nav .nav-menu ul {
    list-style-type: none;
    padding-left: 0em;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.nav-menu ul{
    padding:0;
    display:flex;
    flex-direction: column;
    margin:0;
}

.nav-menu ul li {
    padding:0;
    margin: -1em;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


.nav-menu a i {
    color:white;
    font-size: 1.5rem;
    margin-top: 2em;
    padding-right: 0.8em;
    padding-bottom: 1em;
}


nav .active a, nav .active i{
    color: rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

nav .active a i {
    color: rgb(133, 14, 212);
}

nav a:hover {
    color:rgb(133, 14, 212);
    transition: all .6s ease-in-out;
}

.nav-menu footer i{
    justify-content: center;
    margin-bottom: 0;
    padding-bottom:0;
}

.pic-container {
    border:1px solid white;
    border-bottom: none;
    width:100%;
}

figure.about-me-pic {
    margin:0;
}

.about-me-pic {
    border-radius: 0;
    border:1px solid white;
    height: 20vh;
    width: 100%;
    margin: 0;
    background-image: url("./images/profile-pic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.about-me-text {
    background-color: rgb(0, 1, 19);
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    margin: 0em 2em 1em 2em;
}

.about-me-text h1 {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

.about-me-text p {
    font-size: 1.2rem;
    font-family: League Spartan, sans-serif;
    font-weight: 300;
    text-align: start;
    letter-spacing: 0.1em;
    margin-bottom:0;
    width: 100%;
    padding: 1em 1em 0.2em 1em;
    color: rgba(255, 255, 255, 0.842);
    line-height: 1.7em;
}

@media screen and (min-width: 768px) {

    body {
        height: 100vh;
        overflow: auto;
    }

    nav.nav-menu {
        border-bottom-style: none;
        width:auto;
    }

    .nav-resume a i{
        padding-right: 1em;
    }

    .about-me-content {
        width: 70%;
        height:auto;
        margin-left: 16em;
    }

    main.about-me-main {
        overflow: auto;

    }

    .about-me-main {
        height: auto;
        background-color: white;
    }

    .about-me-text {
        height: auto;
    }

    .about-me-text p {
        font-size: 1.4rem;
        padding: 1.5em 1em 0.2em 1em;
        color: rgb(255, 255, 255);
        line-height: 1.7em;
    }

}

@media screen and (min-width: 1024px) {

    body {
        height: 100vh;
    }

    nav.nav-menu {
        /* min-width:15vw; */
        width: auto;
        /* margin-right: 5em; */

    }

    .about-me-content {
        display:flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        height:auto;
        margin-left: 12em;
    }

    .pic-container {
        width: 40%;
        border: 1px solid white;
        margin: 0em 2em 0em 2em;
    }

    figure.about-me-pic {
        height:80vh;
        width: 100%;
        background-size: cover;
    }

    .about-me-text {
        display: flex;
        flex-direction: column;
        margin:0;
        width: 100%;
    }

}
/* ---------------------- ABOUT ME PAGE ENDS  ------------------------------------------ */


/* ---------------------------------CONTACT ME PAGE STARTS------------------------------ */
    .contact-me-main {
        display: flex;
        width: 100%;
        height: auto;
    }

    .contact-me-content {
        border: 1px solid white;
        margin: 2em 1em 2em 1em;
        background-color: rgb(8, 1, 37);
        display: flex;
        flex-direction: column;
    }

    .contact-me-text {
        display:flex;
        align-items: center;
        flex-direction: column;
        text-align: start;
    }

    .contact-me-text h1 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        padding: 0em 0.4em 0.5em 0.4em;
        margin-bottom: 0.5em;
    }

    .contact-me-phrase {
        font-weight: 200;
        text-align: center;
    }

    .contact-card {
        border: 2px solid white;
        border-radius: 3px;
        width: 20.2em;
        margin-bottom: 2em;
        margin-top: 1em;
        display:flex;
        flex-direction: column;
        background: linear-gradient(60deg, #2d2c2e 60%, rgb(87, 32, 84) 5%);
        align-items: center;
        flex-grow: 0;
    }

    .upper-card {
        width: 100%;
        padding-bottom: 1em;
        display:flex;
        position: relative;
    }

    .upper-card-text {
        display:flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .upper-card h2 {
        margin:0;
        padding-left: 0.2em;
        text-align: start;
        font-size: 1.6rem;
        letter-spacing: 0em;
        color:rgb(247, 246, 250);
        font-weight: 500;
        white-space: nowrap;
    }

    .upper-card p {
        padding-left: 1em;
        margin:0;
        font-size: 0.9rem;
        font-weight: 300;
        text-align: end;
        color: rgb(214, 206, 214);
        white-space: nowrap;
        /* width: 100%; */
    }

    .triangle {
        position: absolute;
        margin-left:9.35em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 69.3px 40px 0 40px;
        border-color: #275d96 transparent transparent transparent;
    }

    .lower-card {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:end;
        width:100%;
        height:100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.2em;
    }

    .email, .phone {
        display:flex;
        font-size: .9rem;
        padding-bottom: 0.5em;
        font-weight: 400;
        color:rgb(255, 255, 255);
        align-items: center;
        padding-left: 0.3em;
    }

    .adress {
        display:flex;
        align-items: center;
        font-size: .9rem;
        font-weight: 400;
        color:rgb(255, 255, 255);
        padding-left: 0.2em;

    }

    .email i, .phone i {
        padding-right: 0.3em;
        color:rgb(236, 229, 229);
        color: #275d96;
        font-size: 1.4rem;
    }

    .phone i {
        color: green;
        color:#275d96;
    }

    .adress i {
        color:rgb(136, 14, 14);
        color: #275d96;
        padding-right: 0.5em;
        font-size: 1.4em;
        padding-left: 0.3em;
    }

@media screen and (min-width: 768px) {

    
    .contact-me-main {
        align-items: start;
        justify-content: center;
    }

    .contact-me-content {
        max-width: 70%;
        margin-left: 16em;
    }

    .contact-me-phrase {
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: white;
        width: 70%;
        font-weight: 200;
    }

    .contact-me-text h1 {
        font-size: 2.9rem;
        margin-bottom: 0.7em;
    }

}


@media screen and (min-width:1024px) {
    
    .contact-me-text h1 {
        font-size: 3rem;
    }

    .contact-me-phrase {
        font-size: 1.6rem;
    }

    .contact-card {
        width: 30.2em;
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .upper-card h2 {
        padding-left: 0.3em;
        font-size: 1.9rem;
    }

    .upper-card p {
        padding-left: 1.2em;
        font-size: 1.1rem;
        font-weight: 100;
    }

    .triangle {
        position:absolute;
        margin-left: 14.83em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 94.4px 54.5px 0 54.5px;
        border-color: #275d96 transparent transparent transparent;
    }

    .email, .phone {
        font-size: 1.3rem;
        padding-left: 0.3em;
    }

    .adress {
        font-size: 1.3rem;
        padding-left: 0.2em;

    }

    .email i, .phone i {
        padding-right: 0.5em;
        font-size: 1.7rem;
    }
   
    .adress i {
        padding-right: 0.55em;
        font-size: 1.5em;
        padding-left: 0.1em;
    }

}

/* ---------------------------------CONTACT ME PAGE ENDS----------------------------------------------------------------------- */


/* ------------------------------------- RESUME PAGE STARTS --------------------------------------------------------------------*/

.resume-main {
    display:flex;
    flex-direction: column;
    height: auto;
}

.resume-top-text {
    color:white;
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    max-width: 80%;
    font-size: 1.3rem;
    font-weight: 600;
}

.resume-container {
    display: flex;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: 2em;
    border-top: 2px solid white;
    background:transparent;
    background-image: url(/images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.timeline {
    border: 2px solid rgb(255, 255, 255);
    margin-right: 2em;
    margin-left: 1.5em;
    min-height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.timeline-item {
    background-color: rgb(62, 11, 82);
    border-radius: 5px;
    height: auto;
    margin-top: 2em;
    margin-bottom: 0.3em;
    color:rgb(255, 255, 255);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 95%;
}


.timeline-item::before {
    content:'';
    width: 0em;
    height: 0em; 
    border-radius: 50%;
    background-color:rgb(73, 5, 90) ;
    border:5px solid ;
    position: absolute;
    margin-left: -3.15em;
    padding: .7em;
    margin-top: -1.1em;
}

.timeline-header {
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(241, 236, 236);
    border-top-right-radius: 29px;
    max-height: 20%;
    color:rgb(72, 9, 80);
    width: 100%;
    padding-top: 0.5em;
    padding-left: 0.2em;
    padding-bottom: 0.5em;
    position: relative;
    padding: 0;
}

.timeline-header i {
    padding: 0.5em 0em 0.5em 0.2em;
}

.timeline-header p {
    width: 75%;
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(72, 9, 80);
}

.timeline-item h2 {
    margin:0;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 0.5em;
    padding-left: 1em;
    text-align: start;
}

p.graduation-text {
    margin:0;
    padding: 1em 1.3em 1.6em 1.3em;
    line-height: 1.3;
    font-weight: 100;
    color:rgb(219, 210, 210);
    width: 100%;
}


@media screen and (min-width: 768px) {
    
    .resume-main {
        margin-left: 13em;
        /* height:100%; */
    }

    .resume-top-text {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .content-container {
        width: 100%;
    }

    .timeline-item h2 {
        font-size: 1.7rem;
        padding-top: 0.8em;
        padding-left: 1em;
    }

    .nav-menu {
        position: fixed;
    }

}

@media screen and (min-width: 1024px) {
    .content-container {
        max-width: 60%;
    }

    .resume-top-text {
        font-size: 2rem;
        font-weight: 600;
    }
}
/* --------------------------------------------------------------- RESUME PAGE ENDS HERE ------------------------------------------------------------*/


/* -------------------------------------------- PORTFOLIO PAGE STARTS HERE --------------------------------*/

.portfolio-main {
    margin-left: 13em;
    align-items: center;
}

  .portfolio-header {
    margin: .5em 0em 1.8em 0em;
    text-align: center;
  }

  .top-items{
    display:flex;
    /* border: 2px solid red; */
    width: 100%;
    height: 44%;
    /* margin-left: 5em; */
    /* margin: 2em 0em 0em 3em; */
    justify-content: space-around;
    /* padding: 1em; */
  }

  .card-item {
    display:flex;
    flex-direction: column;
    /* margin-right: 4em; */
    border: 2px solid rgb(253, 253, 253);
    width: 24%;
    height: 100%;
    /* min-height: 50vh; */
    /* background: linear-gradient(rgb(47, 2, 68), rgb(71, 10, 71)); */
    background: linear-gradient(rgb(85, 16, 117), rgb(63, 6, 63)); 
    border-radius: 5px;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    box-shadow: 1px 1px 20px rgb(21, 155, 207);
  }

  .card-item a{
    padding: .65em;
    background-color: rgb(230, 233, 238);
    color: rgb(71, 10, 71);
    text-decoration: none;
    border: 1px solid rgb(21, 179, 219);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .3em;
  }

  .card-item p {
    font-size: 1rem;
    text-align: center;
  }

  .item-pic {
    background-image: url(images/wp.png);
    background-position: 10% 63%;
    width:100%;
    height: 30%;
    opacity: .8;
    /* border-bottom: 4px solid rgb(133, 14, 212); */
    border-bottom: 4px solid rgb(21, 155, 207);
}

  .rps {
    background-image: url(images/rps.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }

  .park {
    background-image: url(images/parking.jfif);
    background-position: 100% 4%;
    background-size: cover;
    background-repeat: no-repeat;
}

  .item-name {
    margin-top: 0.8em;
    font-weight: 500;
    font-size: 1.9rem;
    text-align: center;
  }

  .item-buttons-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 5em;
    /* border: 2px solid white; */
    bottom: 0;
    position: absolute;
    margin-bottom: 1em;
    justify-content: space-around;
    /* padding: 2em; */
  }

  .item-buttons-container a:visited {
    color: rgb(71, 10, 71);
    transition: 0s;
  } 

.top-items a:hover{
    color: white;
    background: rgb(21, 155, 207);
    border:1px solid white;
    transition: .3s;
} 

.fa-arrow-up-right-from-square {
    font-size: 1.1rem;
    margin-left: .2em;
    color: rgb(71, 10, 71);
}

.top-items a:hover .fa-arrow-up-right-from-square {
    color: white;
}

.item-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, .5);
}

.modal-content {
    background-color: rgb(247, 243, 243);
    color: black;
    margin: 4% auto;
    /* padding: 2em; */
    width: 70%;
    animation-name: openmodal;
    animation-duration: 2s;
}

.modal-header {
    background-color: rgb(133, 14, 212);
    padding: 2em;
}


.modal-header h2 {
    margin:0;
    color: white;
}

.modal-body {
    margin-left: 1em;
}

.modal-body p{
    font-size: 1.2rem;
    margin-top: 0em;
    color: black;
    padding-right: .8em;
}

.modal-body h2 {
    margin-bottom: 0.2em;
    text-decoration: underline;
}

.modal-body ul li {
    font-size: 1.3rem;
    padding-bottom: 1em;
    padding-right: 1em;
}

.closeBtn {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 2rem;
}

.closeBtn:hover, .closeBtn:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

@keyframes openmodal {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
  @media screen and (max-width: 767px){

    .portfolio-main {
        margin:0;
        display: flex;
        flex-direction: column;
    }

    .portfolio-main h1 {
        margin-bottom: 1em;
        margin-top: 0.4em;
    }

    .top-items {
        flex-direction: column;
        margin-top: 0em;
        margin-left: 0em;
        /* padding-bottom: 1em; */
        align-items:center;
        /* border: 2px solid red; */
        height: auto;
        width: 80%;
    }

    .card-item {
        display:flex;
        flex-direction: column;
        border: 2px solid rgb(253, 253, 253);
        width: 100%;
        height: 60vh;
        /* background: linear-gradient(rgb(47, 2, 68), rgb(71, 10, 71)); */
        background: linear-gradient(rgb(85, 16, 117), rgb(63, 6, 63)); 
        border-radius: 5px;
        /* position: relative; */
        align-items: center;
        box-shadow: 1px 1px 20px rgb(21, 155, 207);
        margin-bottom: 2em;
    }

      .card-item a {
        padding: .7em;
        background-color: rgb(230, 233, 238);
        color: rgb(71, 10, 71);
        text-decoration: none;
        border: 1px solid rgb(21, 179, 219);
        border-radius: 5px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .3em;
      }

      .item-name {
        margin: 0.6em;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
      }

      .item-buttons-container {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        height: 2em;
        /* border: 2px solid white; */
        bottom: 0;
        position: absolute;
        margin-bottom: 0em;
        justify-content: end;
        /* padding: 2em; */
    }
        
    .overview p{
        margin:0;
        padding: 0;
        width: 100%;
    }

    .game-description img {
        width: 80%;
    }
}


  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .portfolio-main h1 {
        margin-bottom: 1em;
        margin-top: 0.4em;
    }

    .card-item a {
        padding: .4em;
        background-color: rgb(230, 233, 238);
        color: rgb(71, 10, 71);
        text-decoration: none;
        border: 1px solid rgb(21, 179, 219);
        border-radius: 5px;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: .7em;

      }

    .card-item p {
        font-size: .9rem;
        text-align: center;
    }


    .card-item {
        height: 110%;
        width: 28%;
    }

    .game-description img {
        width: 80%;
    }
  }

/* ----------------------------- PORTFOLIO PAGE ENDS HERE --------------------------- */